/* z-index catalog */

$modal-z-index: 1000;
$dropdown-z-index: 3;
$tooltip-panel-z-index: 50;
$dropdownModal-z-index: 100;
$fulfillment-container-bottom-bar-z-index: 999;
$radio-button-image-z-index: 1;
$textinput-suffix-zindex: 5;
