@use "../../../global/styles.scss" as *;

.ds-button {
  font-family: $font-family-01;
  display: inline-flex;
  width: 100%;
  min-width: 90px;
  line-height: $space-03;
  font-size: $font-size-lg-02;
  font-weight: $font-weight-semibold;
  border-radius: 28px;
  align-items: center;
  justify-content: center;
  text-rendering: auto;
  letter-spacing: normal;
  text-shadow: none;
  cursor: pointer;

  &:focus {
    outline: none;
    border-radius: 3em;
    /* Your border radius here */
    box-shadow: $box-shadow;
  }

  @include ds-screen-size("medium") {
    max-width: 288px;
  }


  &--primary {
    color: white;
    background-color: $primary-01;
  }

  &--secondary {
    color: #333;
    background-color: transparent;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 0px 1px inset;
  }

  &--small {
    font-size: $font-size-lg-00;
    height: $space-05;

    @include ds-screen-size("medium") {
      max-width: 120px;
    }
  }

  &--medium {
    font-size: $font-size-lg-01;
    height: $space-06;
  }

  &--large {
    font-size: $font-size-lg-02;
    height: $space-07;
  }
}